@import '../../../styles/colors';

#eat {
  background-color: $gold;
}

h1 {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  font-size: 300%;
  margin: 0;
}
 
.quad-eat {
  position: absolute;
  top: 2%;
  left: 1%;
  height: 48%;
  width: 49%;
  #eat {
    margin-top: 100px;
    text-align: center;
  }
}

button {
  background-color: $button-color;
  color: $button-text;
  border: white solid 0.5px;
  padding-top: 13px;
  padding-bottom: 13px;
  margin: 5px;
  width: 175px;
  font-family: monospace;
}

