@import '../../../styles/colors';

#fight {
  background-color: red;
}

.quad-fight {
  position: absolute;
  bottom: 2%;
  left: 1%;
  height: 48%;
  width: 49%;
  #fight {
    margin-top: 100px;
    text-align: center;
  }
}